<div class="fr-view">

	<h1 style="text-align: center;font-size:40px;margin-bottom:0;">Super Phonics - The 5 Basic Skills</h1>
	<div style="margin-left:7.5%;margin-right:7.5%;">
		<hr>

		<p>The 5 basic skills are:</p>
		<!--[if ppt]-->

		<p>1.Learning the letter sounds</p>

		<p>2.Learning letter formation</p>

		<p>3.Blending</p>

		<p>4.Identifying sounds in words</p>

		<p>5.Tricky words</p>

		<p>The key to &lsquo;cracking the code&rsquo; of the English language lies in five key skills.</p>

		<p>The first four skills are taught together every day, right from the beginning.</p>

		<p>&#39;Tricky words&rsquo;, however, are introduced after about 6 weeks of teaching. By then, most of the children can work out simple, regular words for reading and writing and are ready to learn more difficult or &lsquo;tricky&rsquo; words.</p>

		<p>Let&rsquo;s look at these five skills in more detail.</p>

		<h2 style="font-size:30px;">1. The Letter Sounds</h2>

		<p><img class="fr-dib" src="https://s3.amazonaws.com/thinkific/file_uploads/167693/images/9e8/e21/d8e/1551413126436.jpg" style="width: 300px;"></p>

		<p>&bull; The first step in learning to read and write is to learn the letter sounds. These are the building blocks for making words, both written and spoken.</p>

		<p>&bull; The children are taught the letter sounds, rather than the letter names to prevent them getting muddled. Once their letter sounds are secure, they can be introduced to the letter names and capital letters.</p>

		<p>&bull; The children are introduced to each letter sound through a story and an associated action. For example, a boy and his dog are out on a walk when the dog begins to bark. In front of them, a snake rears up out of the grass and hisses &lsquo;ssssssss&rsquo;. The hissing snake is making a &lsquo;s&rsquo; shape. &nbsp;Ask the children to make the same shape, saying /sssss/. This is how they learn their first sound, /s/.* The children can also sing the song for each sound.</p>

		<p>&bull; Children love the stories, actions and songs, all of which help them remember the letter sounds more easily.&nbsp;</p>

		<p>&bull; But some children will have a poor memory for learning the sounds and they will need lots of practice. There are several ways to make this fun for the children and playing games is one of them. With one or more sets of letter sound cards they can play simple but effective games.</p>

		<p>
			<br>
		</p>

		<p>&bull;Super Phonics teaches 42 letter sounds, divided into 7 groups.</p>

		<p>&bull;The first group of letters contains sounds that can be put together to make many simple, three letter words.</p>

		<p>&bull;Notice how /c/ is introduced relatively early on. This is because its letter formation is the basis for several others &ndash; /d, o, g, q/. If the children know how to write /c/, it will help them write the others more accurately.</p>

		<p>&bull;Notice too that /b/ and /d/ are not introduced close together. This is because many children often confuse the two when forming the letters, so it is important to get them right.</p>

		<p>&bull;Another thing to notice is that from group four onwards there are letter sounds made from two letters, called &lsquo;digraphs&rsquo;. These come later because they are slightly harder to learn, but they are introduced along with later single letter sounds because they are important to learn. Many words will be unavailable to the children if they don&rsquo;t know the digraphs.</p>

		<p><strong>DIGRAPHS</strong></p>

		<h2 style="font-size:30px;"><img class="fr-dib" src="https://s3.amazonaws.com/thinkific/file_uploads/167693/images/40c/afc/3d1/1551413148043.jpg" style="width: 300px;"></h2>

		<p>&bull;Why do we use digraphs in written English?</p>

		<p>&bull;The English language has 44 sounds and only 26 letters* This means that some sounds have to be written with more than one letter. Sounds written with two letters are called &lsquo;digraphs&rsquo;.</p>

		<p>&bull;Notice that some sounds are different but are written using the same two letters. There is /oo/ as in &lsquo;book&rsquo; and /oo/ as in &lsquo;moon&rsquo;, /th/ as in &lsquo;this&rsquo; and /th/ as in &lsquo;three&rsquo;. To help distinguish them, they are introduced initially in different sizes. Later on, the children will be expected to work out which sound is the right one by learning &lsquo;if one way doesn&rsquo;t work, try the other&rsquo;. For example, when the children read &lsquo;moon&rsquo;, the short /oo/ doesn&rsquo;t work, but the long /oo/ does.</p>

		<p><strong>ALTERNATIVE SPELLINGS</strong></p>

		<p>
			<br>
		</p>
		<hr>

		<p style="text-align: center;"><a href="https://help.thinkific.com/support/tickets/new" rel="noopener noreferrer" target="_blank"><strong><img src="https://s3.amazonaws.com/thinkific/file_uploads/167693/images/190/c93/e54/Super_Phonics_Primer.jpg" style="width: 300px;" class="fr-fic fr-dib"></strong></a></p>

		<p>&bull;Some of these sounds can be written in more than one way. For example, another common spellings of the /ai/ sound is &lsquo;ay&rsquo;, as in &lsquo;play&rsquo;. It can also be written with the &lsquo;hop-over &lsaquo;e&rsaquo; digraph&rsquo; as in &lsquo;flame&rsquo;. Most of the other vowel sounds have alternative spellings too, including /ee/ and /oa/.</p>

		<p>&bull;Once the children have mastered one way of writing the vowel sounds, they can start to learn the alternatives for reading (in the beginning, it is much easier for the children to read words with alternative spellings than it is to write them correctly.)</p>

		<p>&bull;Being able to read words with the alternatives exposes the children to a much wider vocabulary and will help them later on in their spelling, when they have to decide which alternative to use to write a word correctly.</p>

		<h2 style="font-size:30px;">2. Letter Formation</h2>

		<p>&bull;Before the children are ready to write words, they must first be able to form the letters correctly. A multi-sensory approach is used here too. From the very beginning, the children are encouraged to feel the shape of each cut-out letter; see each letter written on the board or through Super Phonics&rsquo; audio visuals; and write each letter in the air with their finger.</p>

		<p>&bull;They are also encouraged to think how the letters fall into different &lsquo;types&rsquo; of formation. For example, some letters start with a caterpillar /c/ &nbsp;(a, d, o, g, q); some are tall letters (b, d, f, h, k, l, t); some have tails that go below the line (g, j, p, q, y, f); and some look rather similar and can be confused, particularly &lsquo;b&rsquo; and &lsquo;d&rsquo;. &nbsp;Here it helps the children to use the descriptions &lsquo;first the bat and then the ball&rsquo; (for &lsquo;b&rsquo;) and &lsquo;up the doggy&rsquo;s tail and down&rsquo; (to describe the last part of forming &lsquo;d&rsquo;).</p>

		<p>&bull;Getting the formation correct from the very beginning will help the children when they write with a pencil and help prevent any bad habits forming (these are much harder to correct later on).</p>

		<p><strong>THE PENCIL HOLD</strong></p>

		<p>&bull;To encourage correct letter formation and enable neat handwriting, it is important for children to learn how to hold their pencil properly.</p>

		<p>&bull;The &lsquo;tripod&rsquo; grip produces the best results for both right- and left-handed children.</p>

		<p>&bull;The pencil goes between the thumb and first (index) finger.</p>

		<p>&bull;The next (middle) finger helps support the pencil.</p>

		<p>&bull;The other two fingers should be tucked away.</p>

		<p>&bull;The children move the pencil forwards and backwards by moving their knuckles in and out.</p>

		<p>&bull;It helps the children remember how to do this if you tell them it looks like &lsquo;froggy legs&rsquo;.</p>

		<p><img class="fr-dib fr-bordered" src="https://s3.amazonaws.com/thinkific/file_uploads/167693/images/93b/faf/039/1551413498425.jpg" style="width: 300px;"></p>

		<h2 style="font-size:30px;">3. BLENDING SKILLS</h2>

		<p>&bull;Blending is another of the 5 basic skills. Blending is the ability to run sounds together to hear a word and is essential for reading. This skill can be encouraged from the earliest stages by asking the children, for example, &ldquo;Can you see the s-u-n?&rdquo;</p>

		<p>&bull;There will be some children who can hear the word &lsquo;sun&rsquo; straight away. They have a naturally good ear for sounds and will rarely have problems with learning to blend sounds by themselves.</p>

		<p>&bull;But for the majority, a little practice every day will be needed for their blending to become fluent. For those children who find learning to read and write more difficult, it will take longer and they will need more individual practice.</p>

		<p>&bull;A technique that helps all children at the beginning is to say the first sound in a word slightly louder, and then say the other sounds quickly afterwards. If you say the sounds too slowly, the children will have forgotten them by the time you finish. Don&rsquo;t worry if you are almost saying the word initially, as the children need more support to begin with.</p>

		<p><strong>BLENDING WORDS</strong></p>

		<p>&bull;The children need to learn how to blend fluently so they can work out unknown words.</p>

		<p>&bull;The faster the children are at blending, the easier it is for them to read.</p>

		<p>&bull;The children should only be asked to blend words that use the sounds they already know; the blending activities in Super Phonics use carefully selected words at every stage.</p>

		<p>&bull;The number of regular words available grows with each new letter sound.</p>

		<p>&bull;Once a child knows the letter sounds and can read simple, regular words by blending them, he or she is ready to go through the Word Boxes.</p>

		<p>&bull;The boxes start with simple words made from the sounds /s, a , t, i, p, n/ and end with more complex, multi-syllable words.</p>

		<p>&bull;Only when the child can blend all ten words in the box, can they be given the next one.</p>

		<p>&bull;The children should be blending at a reasonable pace by this stage and the majority will be getting a new box every day.</p>

		<p><strong>BLENDING ACTIVITIES</strong></p>

		<p>&bull;As well as the Word Boxes, there are several other ways to make blending practice varied and fun.</p>

		<p>&bull;You can write random letter sounds on the board and point to different ones in turn to make a regular word. Ask the children to blend the word in their head without saying the individual sounds out loud.</p>

		<p>&bull;You can also &lsquo;mime&rsquo; a simple word, such as &lsquo;tin&rsquo; using the action for each letter. The children have to guess the sound from the action and blend the sounds together in their head to make the word.</p>

		<p>&bull;[If there is time, you could blend some simple words by pointing at the letters on screen or by miming the actions].</p>

		<h2 style="font-size:30px;">4. PHONOLOGICAL AWARENESS</h2>

		<p>&bull;As well as learning the skills for reading, the children must learn the skills for writing. In order to write down a regular word correctly, the children must listen to a word, identify the sounds in it and choose the letters to represent them.</p>

		<p>&bull;The ability to hear the sounds in a word is called &lsquo;phonological awareness&rsquo; and can be encouraged from the very first lesson. When the children are being introduced to the sound /s/, for example, they can be asked &ldquo;Is there a /s/ in &lsquo;sun&rsquo;?&rdquo;, &ldquo;Is there a /s/ in &lsquo;snake&rsquo;? &ldquo;Is there a /s/ in &lsquo;mouse&rsquo;?&rdquo; &ldquo;Is there a /s/ in &lsquo;dog&rsquo;?&rdquo;</p>

		<p>&bull;Most children find it difficult to hear the sounds at first and will often give the wrong answer; gradually, with practice, they will start to hear them. Those children who can hear the sounds will find it easier to hear the /s/ in &lsquo;sun&rsquo; and &lsquo;snake&rsquo; than in &lsquo;mouse&rsquo; because it is the initial sound. &lsquo;I-Spy&rsquo; is a good game to play with the children to help them hear the initial sound in words.</p>

		<p>
			<!--[if ppt]--><strong>HEARING THE SOUNDS</strong></p>

		<p>&bull;Over time it is important that the children learn to identify all the sounds in a word and this can be encouraged roughly once the children know the first six sounds.</p>

		<p>&bull;The main way to encourage this skill is to call out a word and then sound it out with the children: for example, &ldquo;hat, h-a-t&rdquo;. The children are encouraged to say it again, holding up a finger for each sound. In time, most children will be able to do this for themselves. Those who are the last to acquire this skill are generally the children who have the greatest problems in learning to read and write.</p>

		<p>&bull;Other ways to encourage the children to listen for sounds is to look at word families (eg cat, hat, bat, fat, rat) or play games that require losing one or more sounds in a word.</p>

		<p>&bull;Call out &lsquo;pink&rsquo; for example and the children should respond with &lsquo;ink&rsquo;; &lsquo;mice&rsquo; with &lsquo;ice&rsquo;; &lsquo;stop&rsquo; with &lsquo;top&rsquo;.</p>

		<p>&bull;Or call out a whole word and ask the children to take away one sound at a time, until only one sound is left: for example, &lsquo;splash, plash, lash, ash, sh&rsquo;. This is called the &lsquo;chopping game&rsquo;.</p>

		<p>&bull;[If there is time, ask everyone to sound out some words, holding up a finger for each sound. You could also demonstrate some of the games.]</p>

		<p>
			<!--[if ppt]--><strong>DICTATION</strong></p>

		<p>&bull;Once the children are able to hear the sounds in words and know how to write them, they are ready for some simple dictation.</p>

		<p>&bull;First of all, letter sounds are dictated, followed by simple CVC words (consonant-vowel-consonant words eg &lsquo;cat&rsquo;, &lsquo;hop&rsquo;, &lsquo;tin&rsquo;.)</p>

		<p>&bull;When the children can do this, they are ready for longer, more complicated words (such as compound words or words with digraphs and consonant blends).</p>

		<p>&bull;Then they can move on to short phrases and eventually sentences, where they need to know that a sentence starts with a capital letter and ends with a full stop, and that the letters in the words should not bump up too close together but that there should be a gap between each word.</p>

		<p>&bull;By this stage it is a good idea to give some regular dictation on capital letters. The children find it quite easy to recognise them, but also need to know how to write them.</p>

		<p>&bull;It works well to give dictation twice a week. This prepares the children for the harder task of independent writing.</p>

		<p>&bull;It is also an opportunity to check that children are forming their letters correctly.</p>

		<p><strong>SIMPLE DICTATION</strong></p>

		<p>&bull;Once the children are able to hear the sounds in words and know how to write them, they are ready for some simple dictation.</p>

		<p>&bull;First of all, letter sounds are dictated, followed by simple CVC words (consonant-vowel-consonant words eg &lsquo;cat&rsquo;, &lsquo;hop&rsquo;, &lsquo;tin&rsquo;.)</p>

		<p>&bull;When the children can do this, they are ready for longer, more complicated words (such as compound words or words with digraphs and consonant blends).</p>

		<p>&bull;Then they can move on to short phrases and eventually sentences, where they need to know that a sentence starts with a capital letter and ends with a full stop, and that the letters in the words should not bump up too close together but that there should be a gap between each word.</p>

		<p>&bull;By this stage it is a good idea to give some regular dictation on capital letters. The children find it quite easy to recognise them, but also need to know how to write them.</p>

		<p>&bull;It works well to give dictation twice a week. This prepares the children for the harder task of independent writing.</p>

		<p>&bull;It is also an opportunity to check that children are forming their letters correctly.</p>

		<p><strong>INDEPENDENT WRITING</strong></p>

		<p>&bull;Once the children are able to write words and little sentences, they are ready to try some independent writing.</p>

		<p>&bull;It usually looks like this.</p>

		<p>&bull;At this stage, the children&rsquo;s spelling will not be accurate but their work can be read.</p>

		<p>&bull;Most of the words have been sounded out successfully and written using the spellings they know.</p>

		<p>&bull;This child needs to listen carefully to hear the /ng/ at the end of &lsquo;riding&rsquo;.</p>

		<p>&bull;The silent &lsquo;e&rsquo; in &lsquo;horse&rsquo;, the long &lsquo;i&rsquo; in &lsquo;riding&rsquo; and the tricky word &lsquo;was&rsquo; will be taught later.&nbsp;</p>

		<p>
			<br>
		</p>

		<h2 style="font-size:30px;">5. TRICKY WORDS</h2>

		<p>&bull;Not all words in English can be written successfully by listening for the sounds, as some words have irregular spellings or use alternative spellings that the children haven&rsquo;t learnt yet.</p>

		<p>&bull;Some of these words, like &lsquo;I, the, he, she, me, we, be, was, to, do, are, all&rsquo; are words that the children need to know if they are going to read and write sentences.&nbsp;</p>

		<p>&bull;These words are called &lsquo;tricky&rsquo; words because they are inclined to trick you!</p>

		<p>&bull;In Super Phonics, the children are taught 72 tricky words, which they have to learn by heart.</p>

		<p>&bull;Not all of the word will be tricky, and the children find it amusing to blend it and work out which bit is the tricky part.</p>

		<p>&bull;Analysing the words and having regular practice with flashcards is the best way for children to learn to read the tricky words.</p>

		<p>&bull;The children find it easier to read the tricky words than to spell them, so a range of techniques can be employed to help the children learn the spellings.</p>

		<p>&bull;The main method is called &lsquo;Look, Copy, Cover, Write and Check&rsquo;. First of all, the children look at the word and think about how it is spelt. They could analyse the word as they did for reading, or repeat the letter names several times, or even form each letter in the air as they say its name. Then they copy the word, cover it up and try writing it on their own. Finally they check what they have written against the tricky word and have one more go.</p>

		<p>&bull;Another effective technique is to say the tricky word as it sounds. So the word &lsquo;Monday&rsquo;, for example, would be remembered as &lsquo;MON-day&rsquo;, and &lsquo;Wednesday&rsquo; as &lsquo;Wed-NES-day&rsquo; to help the children remember the spelling.</p>

		<p>&bull;For words that are much harder to spell, mnemonics are very useful. &ldquo;People&rsquo; can be remembered as &lsquo;people eat omelettes, people like eggs&rdquo;; &lsquo;because&rsquo; by &lsquo;big elephants catch ants under small elephants&rsquo;. The &lsquo;ould&rsquo; in words like &lsquo;could, should, would&rsquo; can be remembered as &lsquo;o u lucky duck&rsquo;.</p>

		<p>&bull;It is also helpful to link tricky words to their word families. For example, once the children have learned the tricky word &lsquo;all&rsquo;, they should find it easier to spell words like &lsquo;call, fall, ball, hall, tall, wall&rsquo;.</p>
	</div>
</div>

